* {
  font-family: 'inter', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

label {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

/* Mobile version start */
@media only screen and (min-width: 375px) {
  header {
    position: fixed;
    width: 100%;
    height: 48px;
    margin-top: 0;
    background: #ffff;
  }

  .logo-container {
    width: 26.7%;
    height: 40px;
    margin-top: 4px;
    margin-left: 3.2%;
  }

  .logo-container img {
    width: 160%;
  }

  .logo-container h1 a {
    height: 20px;
    margin-top: 10px;
    color: #172b4d;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    white-space: nowrap;
  }

  nav {
    width: 100%;
  }

  .navMenu {
    margin-left: -1000px;
    transition: 0.3s;
  }

  #navMenu.mobileMenu {
    gap: 10px;
    width: 130.9%;
    margin-top: -44px !important;
    padding-top: 150px;
    padding-left: 7.5%;
    margin-left: -30.9%;
    height: 738px;
    background-color: white;
    position: relative;
    z-index: 5;
  }

  .openCloseMobileMenuButton {
    position: absolute;
    left: 83%;
    margin-top: 4px;
    height: 40px;
    width: 10.7%;
  }

  .navMenu li a {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #3a4a42;
  }

  .openCloseMobileMenuButton img:nth-child(1) {
    width: 60%;
    height: 24px;
    margin-top: 8px;
    margin-left: 20%;
  }

  #closeMobileMenu {
    margin-left: -1000px;
  }

  #closeMobileMenu.closeMobileMenu {
    width: 40%;
    height: 18px;
    position: absolute;
    z-index: 6;
    margin-top: 10px;
    margin-left: -50%;
  }

  /* Mobile Version Header end */

  /* Mobile Version Headline section start */
  .headline {
    background: url('./images/Frame1.png') right 3% no-repeat, url('./images/Frame2.png') right 44% no-repeat, url('./images/Frame3.png') right 100% no-repeat, url('./images/Frame4.png') 4% 23% no-repeat, url('./images/Frame5.png') left 82% no-repeat, url('./images/Frame6.png') 50% 0 no-repeat, url('./images/Frame7.png') 41% 76% no-repeat;
    background-size: 83px 106px, 41px 177px, 59px 59px, 35px 33px, 54px 94px, 381px 569px, 25px 27px;
    align-items: center;
    text-align: center;
    color: #172b4d;
    margin-top: 44px;
  }

  .welcome_text,
  .introduction_text,
  .action {
    width: 87.2%;
  }

  .welcome_text .desktop_version {
    display: none;
  }

  .welcome_text {
    height: auto;
    margin: 56px auto 0 auto;
  }

  .welcome_text h1 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
  }

  .welcome_text h1 span {
    color: #36b37e;
  }

  .introduction_text {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
  }

  .social_media_icons,
  .desktop_social_media_icons {
    justify-content: center;
    width: 100%;
    margin-top: 22.89px;
  }

  .social_media_icons ul,
  .desktop_social_media_icons ul {
    justify-content: space-around;
    gap: 10px;
  }

  .desktop_social_media_icons {
    display: none;
  }

  .action {
    height: 48px;
    margin-top: 76.49px;
    margin-bottom: 33.11px;
  }

  .action .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
  }

  .action .icon img {
    width: 24px;
    height: 24px;
    margin-top: 8px;
  }

  /* Mobiel version Headline section end */

  /* Mobile version Recents works start */
  .recent_works {
    display: grid;
    grid-template-columns: auto;
  }

  .primary-text,
  .card_works {
    width: 87.2%;
    margin: 0 auto 0 auto;
  }

  .recent_work_primary_text {
    font-size: 40px;
    color: #172b4d;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    margin-top: 20px;
  }

  #break_point::before {
    content: "\A";
    white-space: pre;
  }

  .recent_works .indicator {
    width: 48px;
    height: 4px;
    margin: auto;
    margin-top: 24px;
    background-color: #36b37e;
  }

  .card_works {
    row-gap: 24px;
    margin-top: 58px;
  }

  .popupWindowContentBox .popupWindowContent > img {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 21px;
    margin-left: 73%;
  }

  .projectCard {
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    overflow: hidden;
  }

  .projectCard .projectImageBox img,
  .popupWindowContent .projectImageBox img {
    width: 100%;
    height: 100%;
  }

  .projectImageBox img:hover {
    transform: scale(105%);
  }

  .popupWindowContent .projectImageBox img:hover {
    transform: none;
  }

  .projectCard .projectTextBox,
  .popupWindowContent .projectTextBox {
    align-items: center;
    row-gap: 16px;
  }

  .projectTitleBox {
    padding: 0;
    width: 100%;
  }

  .projectTitleBox h2 {
    display: inline-block;
    width: 90%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    color: #3a4a42;
    margin: 10px 5% 0 5%;
  }

  .popupWindowContent h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    color: #172b4d;
  }

  .projectTechList {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .projectTextBox .projectTechList a,
  .popupWindowContent .projectTechList a {
    display: inline-block;
    height: 32px;
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #3a4a42;
    background-color: #ebf0ee;
    border-radius: 4px;
  }

  .projectTextBox .projectButton {
    width: 100%;
  }

  .projectButton a:hover {
    box-shadow: 0 10px 16px 10px rgba(54, 179, 127, 0.5);
    border-radius: 5px;
  }

  .projectTextBox .projectButton a {
    display: inline-block;
    width: 40%;
    height: 48px;
    margin: 13px auto 24px 30%;
    background-color: #008552;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
  }

  /* popup details window content start */
  .popupWindow {
    background: rgba(25, 26, 25, 0.7);
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 100%;
    overflow-y: auto;
    display: none;
  }

  #popupWindow.show {
    display: block;
  }

  .popupWindowContentBox {
    width: 91.5%;
    margin: 20px auto 26px 4.3%;
    background: #ffff;
    border-radius: 16px;
    z-index: 15;
  }

  .popupWindowContent {
    width: 90.7%;
    padding-top: 16px;
    margin-left: 4.7%;
    row-gap: 12px;
  }

  .projectDescription {
    text-align: justify;
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
  }

  .popupButtonsBox {
    margin-top: 16px;
    margin-bottom: 20px;
    height: 48px;
    justify-content: space-between;
  }

  .popupLiveButtonBox,
  .popupSourceButtonBox {
    background: #008552;
    border-radius: 4px;
  }

  .popupLiveButtonBox {
    width: 42%;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .popupSourceButtonBox {
    width: 52%;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .popupLiveButtonBox:hover,
  .popupSourceButtonBox:hover {
    box-shadow: 0 10px 16px 10px rgba(54, 179, 127, 0.5);
    border-radius: 5px;
  }

  .popupButtonsBox .popupLiveButtonBox a,
  .popupButtonsBox .popupSourceButtonBox a {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
  }

  .popupWindowContent .popupButtonsBox .popupLiveButtonBox img {
    height: 16px;
    width: 16px;
  }

  .popupWindowContent .popupButtonsBox .popupSourceButtonBox img {
    height: 20px;
    width: 18px;
  }

  /* popup details window content End */

  /* Mobile version Recent works section end */

  /* Mobile version About me section start */
  .about_me {
    background: url('./images/illustration\ 2-about\ me\ mobile.jpg') left 14.5% no-repeat, url('./images/illustration\ 1-\ about\ me-mobile.jpg') right 0.5% no-repeat, url('./images/illustration-contact-form.jpg') right 97% no-repeat;
    background-size: 71px 58px, 68px 110px, 63px 146px;
  }

  .about_me_text {
    width: 93.6%;
    margin-left: 3.2%;
    margin-top: 64px;
  }

  .about_primary_text {
    width: 100%;
    font-size: 40px;
    color: #172b4d;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
  }

  .about_supporting-text {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    font-weight: 400;
    color: #172b4d;
    margin-top: 24px;
  }

  .about_me .about_me_text .resume_button a {
    display: inline-block;
    width: 43.6%;
    height: 48px;
    margin-top: 24px;
    margin-left: 30%;
    margin-bottom: 24px;
    background-color: #008552;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
  }

  .about_me_text .resume_button a:hover {
    box-shadow: 0 10px 16px 10px rgba(54, 179, 127, 0.5);
    border-radius: 5px;
  }

  .about_card_list {
    row-gap: 24px;
    margin-top: 35px;
  }

  .card_list {
    display: block;
    width: 87.2%;
    margin-left: 6.4%;
    background-color: #ebf0ee;
    border-radius: 8px;
  }

  .card_list_icon {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 40px;
    border-radius: 40px;
    background-color: #fff;
  }

  .about_card_list .card_list .card_list_icon img {
    margin: auto;
  }

  .about_card_title {
    height: 32px;
    margin-top: 28px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    color: #3a4a42;
  }

  .about_card_tags {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    width: 85%;
    margin-left: 7.3%;
    margin-top: 24px;
    padding-bottom: 24px;
  }

  .about_card_tags li {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #28845d;
  }

  .about_bottom {
    margin-top: 54px;
  }

  .errorMsgContainer {
    color: red;
  }

  .about_bottom .text_box {
    width: 87.2%;
    margin-left: 6.4%;
    font-size: 40px;
    color: #172b4d;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
  }

  .contactForm ul {
    width: 87.2%;
    margin-top: 58px;
    margin-left: 6.4%;
    row-gap: 24px;
  }

  .contactForm input {
    width: 100%;
    height: 48px;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
  }

  ::placeholder {
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    padding-left: 16px;
  }

  .contactForm textarea {
    width: 100%;
    height: 114px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #42526e;
    padding-top: 12px;
    padding-left: 12px;
    border: 1px solid #60c095;
    border-radius: 4px;
  }

  .about_bottom ul li button {
    width: 39.4%;
    border: none;
    margin-left: 30.27%;
    height: 48px;
    background-color: #008552;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .about_bottom ul li button:hover {
    box-shadow: 0 10px 16px 10px rgba(54, 179, 127, 0.5);
    border-radius: 5px;
  }

  .about_bottom ul li button:active {
    background-color: #008552;
  }

  #name,
  #email,
  #textarea {
    padding-left: 20px;
  }

  .about_bottom .my_email {
    margin-top: 31px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .end_bar {
    width: 36%;
    height: 4px;
    margin: 32px auto 10px auto;
    border-radius: 2px;
    background-color: black;
  }
}

/* Mobile version end */

@media only screen and (min-width: 768px) {
  .popupWindow {
    height: 100%;
    overflow-y: auto;
    background: rgba(25, 26, 25, 0.7);
    padding-bottom: 110px;
  }

  .popupWindowContentBox {
    width: 64%;
    margin: 122px auto 0 18%;
    padding-top: 60px;
    padding-bottom: 44px;
  }

  .popupWindowContent > img {
    width: 40px;
    height: 40px;
    top: 135px;
    right: 21.2%;
    padding: 0;
    margin-left: 95.4%;
  }

  .popupWindowContent .projectTechList {
    justify-content: left;
  }

  .popupWindowContent h2 {
    font-weight: 700;
  }

  .popupWindowContent .projectTitleBox {
    width: 67.5%;
  }

  .popupTitleAndButtonsBox .popupButtonsBox {
    width: 50%;
    flex-wrap: wrap;
  }

  .header_headline_container {
    background: url('./images/Header-llustration-desktop.png') 50% top no-repeat;
  }

  header {
    position: static;
    height: 72px;
    margin-top: 0;
    background: none;
  }

  .logo-container {
    width: 10%;
    margin-top: 16px;
    margin-left: 10%;
  }

  .logo-container img {
    width: 160%;
  }

  nav {
    width: 83.13%;
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 21.3%;
    height: 40px;
    margin-top: 16px !important;
    padding-top: 5px;
    margin-left: 30%;
  }

  .navMenu li a {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #3a4a42;
  }

  .navMenu li a:hover {
    color: rgb(54, 179, 126);
    border-bottom: 2px solid rgb(54, 179, 126);
    padding-bottom: 10px;
  }

  #openCloseMobileMenuButton {
    display: none;
  }

  /* Desktop version Hearder end */

  /* Desktop version Headline section start */

  .headline {
    background-image: none;
    width: 63.88%;
    margin: 0 auto 90px auto;
    row-gap: 24px;
  }

  .welcome_text {
    height: auto;
    margin-top: 160px;
  }

  .welcome_text .mobile_version {
    display: none;
  }

  .welcome_text .desktop_version {
    display: inline-block;
    font-size: 48px;
    line-height: 60px;
    font-weight: 800;
  }

  .introduction_text {
    width: 100%;
    line-height: 32px;
    margin-left: 0;
  }

  .social_media_icons,
  .desktop_social_media_icons {
    width: 21.74%;
  }

  .action {
    height: 40px;
    margin-top: 35px;
    margin-bottom: 184px;
  }

  /* Desktop version headline section end */

  /* Desktop version Recent works section start */
  .recent_works {
    width: 81.32%;
    margin: 80px 9.3% 0 9.3%;
  }

  .recent_work_primary_text {
    margin-top: 80px;
  }

  #break_point::before {
    content: " ";
    white-space: pre;
  }

  .indicator {
    display: none;
  }

  .card_works {
    width: 99%;
    margin: 52px auto 84px auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto;
    column-gap: 2%;
    row-gap: 32px;
  }

  .projectTextBox .projectTechList {
    width: 89.16%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projectCard .projectTextBox .projectButton a {
    display: flex;
    width: 122px;
    margin: 13px auto 24px auto;
    justify-content: center;
  }

  /* Desktop version Recent works end */

  /* Desktop version About me section start */
  .about_me {
    background: url('./images/illustration-1-contact-form-desktop.jpg') 0 1000px no-repeat, url('./images/illustration-2-contact-form-desktop.jpg') 274px 1150px no-repeat, url('./images/contact\ form-illustratoin-3-desktop.jpg') right 850px no-repeat, url('./images/illustration-about\ me-1-desktop.jpg') right 0 no-repeat, url('./images/illustration-about-me-2-desktop.jpg') left 155px no-repeat;
    background-size: 194px 352px, 131px 106px, 222px 494px, 224px 245px, 236px 128px;
    padding-bottom: 238px;
  }

  .about_me_text {
    align-items: center;
    width: 64%;
    margin: 64px auto 0 auto;
  }

  .about_me .about_me_text .resume_button a {
    width: 153px;
    margin-left: 0;
  }

  .about_cards {
    width: 81.32%;
    margin-left: 9.34%;
    margin-top: 24px;
  }

  .about_card_list {
    display: grid;
    grid-template-columns: 31.66% 31.66% 31.66%;
    grid-template-rows: auto auto auto;
    width: 99%;
    margin-left: 0.5%;
    column-gap: 2%;
    margin-top: 21.5px;
  }

  .card_list {
    width: 100%;
    margin-left: 0;
  }

  .about_bottom {
    width: 81.32%;
    margin-left: 9.34%;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    margin-top: 17.5px;
    overflow: hidden;
  }

  .about_bottom .text_box {
    display: flex;
    font-size: 30px;
    width: 100%;
    margin-top: 80px;
    margin-left: 0;
    align-items: center;
    text-align: justify;
    animation: abtext 3s;
  }

  @keyframes abtext {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0;
      width: 100%;
    }
  }

  .contactForm {
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
    padding-bottom: 30px;
  }

  .contactForm ul {
    margin-top: 0;
  }

  .about_bottom ul li button {
    width: 129px;
    margin-left: 0;
  }

  .my_email {
    display: none;
  }

  .end_bar {
    display: none;
  }

  .desktop_end_bar {
    width: 100%;
    height: 1px;
    margin: 0 auto 10px auto;
    background-color: #dfe1e6;
  }

  .about_bottom .social_media_icons {
    display: none;
  }

  .desktop_social_media_icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .desktop_social_media_icons ul {
    gap: 20px;
  }
}
