* {
  font-family: 'inter', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

/* Mobile version start */
@media only screen and (min-width: 375px) {
  header {
    display: flex;
    height: 48px;
    margin-top: 44px;
  }

  .logo-container {
    width: 26.7%;
    height: 40px;
    margin-top: 4px;
    margin-left: 3.2%;
  }

  .logo-container h2 a {
    width: 76%;
    height: 20px;
    margin-top: 10px;
    margin-left: 12%;
    color: #172b4d;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    white-space: nowrap;
  }

  .nav_menu {
    display: none;
  }

  .open_mobile_menu_icon {
    position: absolute;
    left: 83%;
    margin-top: 4px;
    height: 40px;
    width: 10.7%;
  }

  .open_mobile_menu_icon img {
    width: 60%;
    height: 24px;
    margin-top: 8px;
    margin-left: 20%;
  }

  /* Mobile Version Header end */

  /* Mobile Version Headline section start */
  .headline {
    background-image: url('./images/mobile-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #172b4d;
  }

  .welcome_text,
  .introduction_text,
  .action {
    width: 87.2%;
  }

  .welcome_text .desktop_version {
    display: none;
  }

  .welcome_text {
    height: auto;
    margin: 56px auto 0 auto;
  }

  .welcome_text h1 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
  }

  .welcome_text h1 span {
    color: #36b37e;
  }

  .introduction_text {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
  }

  .social_media_icons,
  .desktop_social_media_icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 22.89px;
  }

  .social_media_icons ul,
  .desktop_social_media_icons ul {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }

  .desktop_social_media_icons {
    display: none;
  }

  .action {
    height: 48px;
    margin-top: 76.49px;
    margin-bottom: 33.11px;
  }

  .action .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
  }

  .action .icon img {
    width: 24px;
    height: 24px;
    margin-top: 8px;
  }

  /* Mobiel version Headline section end */

  /* Mobile version Recents works start */
  .recent_works {
    display: grid;
    grid-template-columns: auto;
  }

  .primary-text,
  .card_works {
    width: 87.2%;
    margin: 0 auto 0 auto;
  }

  .recent_work_primary_text {
    font-size: 40px;
    color: #172b4d;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    margin-top: 20px;
  }

  #break_point::before {
    content: "\A";
    white-space: pre;
  }

  .recent_works .indicator {
    width: 48px;
    height: 4px;
    margin: auto;
    margin-top: 24px;
    background-color: #36b37e;
  }

  .card_works {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 58px;
  }

  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    overflow: hidden;
  }

  .card .image_box img {
    width: 100%;
    height: 100%;
  }

  .card .image_box img:hover {
    transform: scale(105%);
  }

  .card .text_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }

  .project_title h2 {
    display: inline-block;
    width: 90%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    color: #3a4a42;
    margin: 16px 5% 0 5%;
  }

  .tags {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .text_box .tags a {
    display: inline-block;
    height: 32px;
    padding: 8px 12px 8px 12px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #3a4a42;
    background-color: #ebf0ee;
    border-radius: 4px;
  }

  .text_box .see_project_button {
    width: 100%;
  }

  .text_box .see_project_button a {
    display: inline-block;
    width: 40%;
    height: 48px;
    margin: 13px auto 24px 30%;
    background-color: #36b37f;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
  }

  .text_box .see_project_button a:hover {
    box-shadow: 0 10px 16px 10px rgba(54, 179, 127, 0.5);
    border-radius: 5px;
  }

  /* Mobile version Recent works section end */

  /* Mobile version About me section start */
  .about_me {
    display: flex;
    flex-direction: column;
    background-image: url('./images/about-background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .about_me_text {
    display: flex;
    flex-direction: column;
    width: 93.6%;
    margin-left: 3.2%;
    margin-top: 64px;
  }

  .about_primary_text {
    width: 100%;
    font-size: 40px;
    color: #172b4d;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
  }

  .about_supporting-text {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    font-weight: 400;
    color: #172b4d;
    margin-top: 24px;
  }

  .about_me .about_me_text .resume_button a {
    display: inline-block;
    width: 43.6%;
    height: 48px;
    margin-top: 24px;
    margin-left: 30%;
    margin-bottom: 24px;
    background-color: #36b37f;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
  }

  .about_me_text .resume_button a:hover {
    box-shadow: 0 10px 16px 10px rgba(54, 179, 127, 0.5);
    border-radius: 5px;
  }

  .about_card_list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 35px;
  }

  .card_list {
    display: block;
    width: 87.2%;
    height: 316px;
    margin-left: 6.4%;
    background-color: #ebf0ee;
    border-radius: 8px;
  }

  .card_list_icon {
    display: flex;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 40px;
    border-radius: 40px;
    background-color: #fff;
  }

  .about_card_list .card_list .card_list_icon img {
    margin: auto;
  }

  .about_card_title {
    height: 32px;
    margin-top: 28px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    color: #3a4a42;
  }

  .about_card_tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    width: 85%;
    height: 40px;
    margin-left: 7.3%;
    margin-top: 24px;
  }

  .about_card_tags li {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #36b37e;
  }

  .about_bottom {
    display: flex;
    flex-direction: column;
    margin-top: 54px;
  }

  .about_bottom .text_box {
    width: 87.2%;
    margin-left: 6.4%;
    font-size: 40px;
    color: #172b4d;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
  }

  .about_form ul {
    display: flex;
    flex-direction: column;
    width: 87.2%;
    margin-top: 58px;
    margin-left: 6.4%;
    row-gap: 24px;
  }

  .about_form input {
    width: 100%;
    height: 48px;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
  }

  ::placeholder {
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    padding-left: 16px;
  }

  .about_form textarea {
    width: 100%;
    height: 114px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #42526e;
    padding-top: 12px;
    padding-left: 12px;
    border: 1px solid #60c095;
    border-radius: 4px;
  }

  .about_bottom ul li button {
    width: 39.4%;
    border: none;
    margin-left: 30.27%;
    height: 48px;
    background-color: #36b37f;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }

  .about_bottom ul li button:hover {
    box-shadow: 0 10px 16px 10px rgba(54, 179, 127, 0.5);
    border-radius: 5px;
  }

  .about_bottom ul li button:active {
    background-color: #008552;
  }

  .about_bottom .my_email {
    margin-top: 31px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .end_bar {
    width: 36%;
    height: 4px;
    margin: 32px auto 10px auto;
    border-radius: 2px;
    background-color: black;
  }
}

/* Mobile version end */

@media only screen and (min-width: 768px) {
  .header_headline_container {
    display: flex;
    flex-direction: column;
    background-image: url('./images/Header-llustration-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    display: flex;
    height: 72px;
    margin-top: 0;
  }

  .logo-container {
    width: 7%;
    margin-top: 16px;
    margin-left: 10%;
  }

  nav {
    width: 83.13%;
  }

  .nav_menu {
    display: flex;
    gap: 20px;
    width: 21.3%;
    height: 40px;
    margin-top: 16px;
    padding-top: 5px;
    margin-left: 30%;
  }

  .nav_menu li a {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .nav_menu li a:hover {
    color: rgb(54, 179, 126);
    border-bottom: 2px solid rgb(54, 179, 126);
    padding-bottom: 10px;
  }

  .open_mobile_menu_icon {
    display: none;
  }

  /* Desktop version Hearder end */

  /* Desktop version Headline section start */

  .headline {
    background-image: none;
    width: 63.88%;
    margin: 0 auto 151px auto;
    row-gap: 24px;
  }

  .welcome_text {
    height: auto;
    margin-top: 160px;
  }

  .welcome_text .mobile_version {
    display: none;
  }

  .welcome_text .desktop_version {
    display: inline-block;
    font-size: 48px;
    line-height: 60px;
    font-weight: 800;
  }

  .introduction_text {
    width: 100%;
    line-height: 32px;
    margin-left: 0;
  }

  .social_media_icons,
  .desktop_social_media_icons {
    width: 21.74%;
  }

  .action {
    height: 40px;
    margin-top: 35px;
    margin-bottom: 184px;
  }

  /* Desktop version headline section end */

  /* Desktop version Recent works section start */
  .recent_works {
    width: 81.32%;
    margin: 80px 9.3% 0 9.3%;
  }

  .recent_work_primary_text {
    margin-top: 80px;
  }

  #break_point::before {
    content: " ";
    white-space: pre;
  }

  .indicator {
    display: none;
  }

  .card_works {
    width: 99%;
    margin: 52px auto 84px auto;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto;
    column-gap: 2%;
    row-gap: 32px;
  }

  .tags {
    width: 89.16%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card .text_box .see_project_button a {
    display: flex;
    width: 122px;
    margin: 13px auto 24px auto;
    justify-content: center;
  }

  /* Desktop version Recent works end */

  /* Desktop version About me section start */
  .about_me {
    background: url('./images/illustration-1-contact-form-desktop.jpg') 0 1000px no-repeat, url('./images/illustration-2-contact-form-desktop.jpg') 274px 1150px no-repeat, url('./images/contact\ form-illustratoin-3-desktop.jpg') right 850px no-repeat, url('./images/illustration-about\ me-1-desktop.jpg') right 0 no-repeat, url('./images/illustration-about-me-2-desktop.jpg') left 155px no-repeat;
    background-size: 194px 352px, 131px 106px, 222px 494px, 224px 245px, 236px 128px;
    padding-bottom: 238px;
  }

  .about_me_text {
    align-items: center;
    width: 64%;
    margin: 64px auto 0 auto;
  }

  .about_me .about_me_text .resume_button a {
    width: 153px;
    margin-left: 0;
  }

  .about_cards {
    width: 81.32%;
    margin-left: 9.34%;
    margin-top: 24px;
  }

  .about_card_list {
    display: grid;
    grid-template-columns: 31.66% 31.66% 31.66%;
    width: 99%;
    margin-left: 0.5%;
    column-gap: 2%;
    margin-top: 21.5px;
  }

  .card_list {
    width: 100%;
    margin-left: 0;
  }

  .about_bottom {
    width: 81.32%;
    margin-left: 9.34%;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    margin-top: 17.5px;
    overflow: hidden;
  }

  .about_bottom .text_box {
    display: flex;
    font-size: 30px;
    width: 100%;
    margin-top: 80px;
    margin-left: 0;
    align-items: center;
    text-align: justify;
    animation: abtext 3s;
  }

  @keyframes abtext {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0;
      width: 100%;
    }
  }

  .about_form {
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
  }

  .about_form ul {
    margin-top: 0;
  }

  .about_bottom ul li button {
    width: 129px;
    margin-left: 0;
  }

  .my_email {
    display: none;
  }

  .end_bar {
    display: none;
  }

  .desktop_end_bar {
    width: 100%;
    height: 1px;
    margin: 0 auto 10px auto;
    background-color: #dfe1e6;
  }

  .about_bottom .social_media_icons {
    display: none;
  }

  .desktop_social_media_icons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .desktop_social_media_icons ul {
    gap: 20px;
  }
}
